/ShopEasy/ShopEasy.Core/bin/
/ShopEasy/ShopEasy.Core/obj/

/ShopEasy/ShopEasy.Infrastructure/bin/
/ShopEasy/ShopEasy.Infrastructure/obj/

#/ShopEasy/ShopEasy.UI/bin/
/ShopEasy/ShopEasy.UI/bin/Debug/netcoreapp3.1/runtimes/
/ShopEasy/ShopEasy.UI/bin/Debug/netcoreapp3.1/*.dll
/ShopEasy/ShopEasy.UI/bin/Debug/netcoreapp3.1/*.json
/ShopEasy/ShopEasy.UI/bin/Debug/netcoreapp3.1/*.config
/ShopEasy/ShopEasy.UI/bin/Debug/netcoreapp3.1/*.exe
/ShopEasy/ShopEasy.UI/bin/Debug/netcoreapp3.1/*.pdb
/ShopEasy/ShopEasy.UI/obj/

*.bak

/ShopEasy/.vs/*
